<p id="notice"><%= notice %></p>

<p>
  <strong>Nameofstu:</strong>
  <%= @student.nameofstu %>
</p>

<p>
  <strong>Nameofuniversity:</strong>
  <%= @student.nameofuniversity %>
</p>

<p>
  <strong>Telnumer:</strong>
  <%= @student.telnumer %>
</p>

<p>
  <strong>Emailofstu:</strong>
  <%= @student.emailofstu %>
</p>

<p>
  <strong>Addressofstu:</strong>
  <%= @student.addressofstu %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Graduate:</strong>
  <%= @student.graduate %>
</p>

<p>
  <strong>Dayoftoroku:</strong>
  <%= @student.dayoftoroku %>
</p>

<p>
  <strong>Dayofentrysheet:</strong>
  <%= @student.dayofentrysheet %>
</p>

<p>
  <strong>Dayofraisya:</strong>
  <%= @student.dayofraisya %>
</p>

<p>
  <strong>Memoofstu:</strong>
  <%= @student.memoofstu %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
